# Files
* text=auto eol=lf

*.py text diff=py eol=lf
*.md text diff=md eol=crlf

*.yml text diff=yml eol=lf
*.json text diff=json eol=lf
*.xml text diff=xml eol=lf

*.sh text diff=bash eol=lf

# Specific files
Vagrantfile diff=auto eol=lf

# Git
.gitattributes text diff=auto eol=lf
.gitignore text diff=auto eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
