# Files
* text=auto eol=lf

*.py text diff=py eol=lf
*.md text diff=md eol=crlf

*.yml text diff=yml eol=lf
*.json text diff=json eol=lf
*.xml text diff=xml eol=lf

*.sh text diff=bash eol=lf

# Specific files
Vagrantfile diff=auto eol=lf export-ignore

# Git
.gitattributes text diff=auto eol=lf export-ignore
.gitignore text diff=auto eol=lf export-ignore
.gitmodules text diff=auto eol=lf export-ignore

# Related to workflow
.replicate.sh export-ignore
.setup.sh export-ignore
.workflow.sh export-ignore

# removing tests
tests/ export-ignore

/.github export-ignore